@charset "UTF-8";

/* Palheta de Cores */
:root {
    --cor-verde: #49a09d;
    --cor-roxo: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*A bordar vai fazer parte do calculo do tamanho das box*/
}

html, body {
    background-color: var(--cor-roxo);
    height: 100vh;
    width: 100vw;
}

main {
    height:100vh;
    width: 100vw;
    position: relative;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*Tudo o que está fora da borda fica escondido*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;

    /*Transition para dar um efeito na mudança de tela*/
    transition: width .3s, height 1s;
    transition-timing-function: ease;
}

#login > #imagem {
    display: block;
    background: var(--cor-roxo) url(../imagens/fundo-login.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

#login > #formulario {
    display: block;
    padding: 10px;
}

#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p {
    font-size: .8em;
}